.bg-0 {
    background-color: #333 !important;
    color: #fff;
  }
  .bg-1 {
    background-color: rgb(85, 180, 180);
    color: #555;;
  }
  .bg-2 {
    background-color: #7bc2c2;
    color: #555;
  }
  .bg-3 {
    background-color: #a4e3e6;
    color: #555;
  }
  .bg-4 {
    background-color: #2F2F2F;
    color: #fff;
  }
  body {
      font: 20px "Montserrat", sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {
    font-size: 16px;
    color: #2F2F2F;
  }
  .margin {
    margin-bottom: 45px;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
      
  }
  .navbar {
    border: 0;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav li a:hover {
      color: #1abc9c !important;
  }
  .navbar-default {
    background-color: #333 !important;
  }
  .bg-2 a {
      margin-top: 30px;
  }
