

<!--Navbar -->
<div class="bg-0">

</div>
<!--First Container -->
<div id="who" class="bg-1">
	<div class="container-fluid text-center">
  		<h3 class="margin">Who Am I?</h3>
  		<h6 class="text-center"> I am Roumaissa SOUKEHAL, student in master 2 Systems and Services for the Internet of Things at 
			Gustave Eiffel University </h6>
	</div>
</div>
<!--Second Container -->
<div id="what" class="bg-2">
	<div class="container-fluid text-center">
  		<h3 class="margin">What Am I?</h3>
  		<h6 class="text-center">I am very interested in development and all new technologies, And I am autonomous, passionate and very motivated to learn <br>and become better in my field of interest, I 
			work well in a team and I like to share my new knowledge.</h6>
  		
	</div>
</div>
<!--Third Container (Grid System)-->
<div id="where" class="bg-3">
	<div class="container-fluid text-center">
  		<h3 class="margin">Where To Find Me?</h3>
  		<div class="row">
  			<div class="col-sm-4">
  				<p>This is the first one where I have put my Linkedin Profile. Please click to see my Linkedin Profile.</p>
  				<a href="https://www.linkedin.com/in/roumaissa-soukehal-223b351b8/" target="_blank"><img src="assets/image/l.png" class="img-responsive margin"  alt="first image" width="40" height="40"></a>
  			</div>
  		
  			<div class="col-sm-4">
  				<p>This is the second one where I have put my GitHub Profile. Please click to see my GitHub Profile.</p>
  				<a href="https://github.com/roumaissa123" target="_blank"><img src="assets/image/cat.png" class="img-responsive margin"  alt="first image" width="50" height="50"></a>
  			</div>
              <div class="col-sm-4">
                <p>This is the third one Where you can find my Email. Please click to contacte me.</p><br>
                <a href="mailto:soukehalroumaissa1996@gmail.com" target="_blank"><img src="assets/image/gmail.png" class="img-responsive margin"  alt="first image" width="50" height="50"></a>
            </div>
  		</div>
	</div>
</div>
<!--Footer -->
<footer class="container-fluid bg-4 text-center">
	<p> Technical Test IBM 2022</p>
</footer>


