.grid-container {
 
    display: grid;
    grid-template-columns: repeat(10, 1fr); 
   
    padding: 10px;
  }
  
    
  .felx-item {

    display: flex !important;
    flex-basis: auto;
  }
  .stl{
    background-color: #a4e3e6;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20%;
    font-size: 20px;
    text-align: center;

  }
  .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 68%;
    margin-left: 18%;
  
  }
  .form-control {
 
    background-color:  #a4e3e6;

  }
  .btn{
    background-color: rgb(85, 180, 180);
}