.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    padding-left: 45%;
   
    background-color: #2F2F2F;
  }


  
a:hover{

    font-size: larger;
   
    text-decoration:underline;

  }



